{% extends "layout.html" %}

{% block title %}
Anime Talks
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">All Anime Tweets</h1>
  <a href="{% url 'createTweet'  %}" class="btn btn-primary btn-sm mb-4">Create</a>
  {% for tweet in tweets %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ tweet.text }}</h5>

        {% if tweet.photo %}
          <img src="{{ tweet.photo.url }}" alt="Tweet Image" class="img-fluid mb-3" />
        {% endif %}

        <div class="d-flex justify-content-end gap-2">
          <a href="{% url 'editTweet' tweet.id %}" class="btn btn-primary btn-sm">Edit</a>
          <a href="{% url 'deleteTweet' tweet.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No tweets found.</p>
  {% endfor %}
</div>
{% endblock %}

